<h1>Home</h1>

<%= form_for :home, url: '/homes' do |f| %>

  Name: <%= f.text_field :name %>
  Description: <%= f.text_field :description %>
  Address: <%= f.text_field :address %>
  City: <%= f.text_field :city %>
  State: <%= f.text_field :state %>
  Zip Code: <%= f.text_field :zip_code %>
  <%= f.submit "Submit" %>

<% end %>
